/* ----- DESC ----- */
/*
  about.css
  for storage of css specific to the about page
*/

.parallax1 {
  /* The image used */
  background-image: url('images/group_photo_22.jpg');

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

/*.parallax2 {
  /* The image used */
  /*background-image: url('images/Broida_roof_views(2).jpg');

  /* Set a specific height */
  /*min-height: 600px;

  /* Create the parallax scrolling effect */
  /*
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  @media only screen and (max-device-width: 1366px) {
  .parallax {
        background-attachment: scroll;
      }
    } */

.lead{
  text-align:center;
}
H1{
  text-align:center;
}

/* Officer Cards */
.officer-card{
  text-align:center;
  border-color:#000;
  padding:1em;
  width: 500px
}


/* Event Cards */
.event-card {
  text-align:center;
  border-color:#000;
  padding:10px;
}

/* ---- MEDIA QUERIES ---- */
/* XS Devices (Phones) */
@media only screen and (max-width: 600px) {
  .parallax1 {
    background-attachment: scroll;
    margin-top: 65px;
    background-size: contain;
    background-position: top;
    min-height: 20vh;
  }

  .officer-card {
    width: 80vw;
  }
}