/* ----- DESC ----- */
/*
  front.css
  for storage of css specific to the index/homepage
  news cards, event options, embeds
*/

/* ---- GENERAL FORMATTING ---- */
.container{
  padding: 50px;
  border-radius: 10px;
}

.featurette-divider{
  margin-top:50px;
}

/* ---- NEWS CARDS ---- */
.news-card{
  background-color:#FFF;
  border-style:solid;
  border-color:#ADDA83;
  border-width:1px;
  border-radius:10px;
  display:flex;
  overflow:auto;
  min-height:15vw;
  margin-bottom:25px;
  text-align: center;
}
.card-header{
  background-color:#ADDA83;
  color:#FFF;
}
.headline{
  font-family: 'IBM Plex Sans',serif;
  font-weight: 500;
}
.news-date{
  width:100%;
  font-weight: lighter;
}
.news-text{
  width:100%;
  text-align:center;
}
.archive-card{
  border:none;
}

/* ---- TWITTER TIMELINE EMBED --- */
.twitter-timeline{
  background-color:#fff;
  border-radius: 10px;
  overflow:auto;
}

/* ---- GOOGLE CALENDAR EMBED ---- */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---- MEDIA QUERIES ---- */
/* XS Devices (Phones) */
@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
    text-align: center;
  }
}