body{
}
/* ----- DESC ----- */
/*
  use this file for css necessary for the entire site
  ex: navbar, footer, etc.
  front.css is for css specific to the homepage/index
*/

.text {
  /* everywhere i assume? */
  color: white;
  font-size: 2vw;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.container-fluid {
  /* only appears in resources.html */
  /* leave this til we update the resources page */
  position: relative;
  width: 100%;
  display: block;
}


/* -------OLD NAVBAR------- */
/* these classes are only necessary if the navbar contains a dropdown menu */

.dropdown-menu{
  background-color:  #343B3F;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-item{
  color: #f8f9fa;
}

/* -------END OLD NAVBAR ------- */
/* -------OLD INDEX --------*/
/* these classes only appear in the index page */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: inherit;
}
.container-fluid:hover .overlay {
  opacity: 1;
}
.content-banner{
  text-align: center;
  display: block;
  float: clear;
}
.content-div{
  position: absolute;
  top: auto;
  bottom: 50%;
  left: 10%;
  color: #fff;
  font-size: 3vw;
  align:center;
}

/* -------- END OLD INDEX -----*/
