/* ----- DESC ----- */
/*
  use this file for css necessary for the entire site
  ex: navbar, footer, etc.
  front.css is for css specific to the homepage/index
*/

/*TEXT felxibility for mobile devices and tablets*/

/* ---- GENERAL ---- */
.container-fluid {
  /* only appears in resources.html */
  /* leave this til we update the resources page */
  position: relative;
  width: 100%;
  display: block;
}
.featurette-divider{
  margin-top:50px;
}

/* ---- MOBILE SUPPORT ---- */
/* small screen size */
@media (max-width: 767.98px) {
  .container{
    padding: 10px;
  }
  .card-columns{
    column-count: 2;
  }
}
/* xs screen size */
@media (max-width: 576px) {
  .card-columns{
    column-count: 1;
  }
}

/* ---- TYPOGRAPHY ---- */
.text {
  color: white;
  font-size: 2vw;
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
}
.heading{
    font-family: 'IBM Plex Sans',sans-serif;
    align: center
}
H1{ /* page titles */
  font-family: 'IBM Plex Sans',sans-serif;
}
H2{ /* big categories */
  font-family: 'IBM Plex Sans',sans-serif;
}
H3{
  font-family: 'IBM Plex Sans',sans-serif;
}
